@import "../../styles/_global";

.loading-style {
  @include display-flex(center, none, column, center);

  height: 100vh;

  .ring {
    display: inline-block;
    height: 80px;
    position: relative;
    width: 80px;

    div {
      animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      box-sizing: border-box;
      border: 8px solid $uclaBlue;
      border-radius: 50%;
      border-color: $uclaBlue transparent transparent transparent;
      display: block;
      height: 64px;
      margin: 8px;
      position: absolute;
      width: 64px;

      > :nth-child(1) {
        animation-delay: -0.45s;
      }

      > :nth-child(2) {
        animation-delay: -0.3s;
      }

      > :nth-child(3) {
        animation-delay: -0.15s;
      }

      @keyframes ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  small {
    color: $uclaBlue;
  }
}
